<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletInterface</servlet-name>
        <servlet-class>com.Servlet.ServletInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenericServlet</servlet-name>
        <servlet-class>com.Servlet.GenericServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addition</servlet-name>
        <servlet-class>Servlet.Addition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Genericvelt</servlet-name>
        <servlet-class>com.Servlet.Genericvelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Servlet.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DynamicServ</servlet-name>
        <servlet-class>Servlet.DynamicServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cokiesservlt</servlet-name>
        <servlet-class>Sesion_Trcking.Cokiesservlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cookiesservlet1</servlet-name>
        <servlet-class>Sesion_Trcking.Cookiesservlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hiddenformfield</servlet-name>
        <servlet-class>Sesion_Trcking.Hiddenformfield</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hiddenformfield1</servlet-name>
        <servlet-class>Sesion_Trcking.Hiddenformfield1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlt</servlet-name>
        <servlet-class>Sesion_Trcking.SessionServlt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet2</servlet-name>
        <servlet-class>Sesion_Trcking.SessionServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLSession</servlet-name>
        <servlet-class>Sesion_Trcking.URLSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>URLSession2</servlet-name>
        <servlet-class>Sesion_Trcking.URLSession2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInterface</servlet-name>
        <url-pattern>/ServletInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenericServlet</servlet-name>
        <url-pattern>/GenericServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addition</servlet-name>
        <url-pattern>/Addition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Genericvelt</servlet-name>
        <url-pattern>/Genericvelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicServ</servlet-name>
        <url-pattern>/DynamicServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cokiesservlt</servlet-name>
        <url-pattern>/Cokiesservlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cookiesservlet1</servlet-name>
        <url-pattern>/Cookiesservlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hiddenformfield</servlet-name>
        <url-pattern>/Hiddenformfield</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hiddenformfield1</servlet-name>
        <url-pattern>/Hiddenformfield1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlt</servlet-name>
        <url-pattern>/SessionServlt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet2</servlet-name>
        <url-pattern>/SessionServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLSession</servlet-name>
        <url-pattern>/URLSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>URLSession2</servlet-name>
        <url-pattern>/URLSession2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
